# Created by .ignore support plugin (hsz.mobi)
/infrastructure/.project
/.idea/
.gitignore
.idea/
*.iml
.project
infrastructure/docker/volumes/cassandra-master/
infrastructure/docker/volumes/cassandra-seed/data/commitlog/*
infrastructure/docker/volumes/cassandra-seed/data/data/*
/eventsprocessor/target/
/eventsprocessor/project/
